/*  your css code here. If applicable */
*{
	padding:0;
	margin:0;
}
#grid{
	height:100vh;
	display:grid;
	background-color:green;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(5, 1fr);
	grid-gap: 10px;
}

#grid > div {
	border: 1px solid white;
}

#box-1{
	grid-column: span 4;
}
#box-2{
	grid-row: span 4;
}

#box-4{
	grid-column: span 2;
}
#box-5{
	grid-column: span 2;
}
#box-10{
	grid-column: span 3;
}